.note-square{
  border: 1px solid black;
  width: 20%;
  min-height: 0;
}

.note-list{
  border: 1px solid blue;
  padding: 10px;
  width: 50%;
}

.todo-list{
  border: 1px solid blue;
  padding: 10px;
  width: 50%;
}

.cursor-pointer{
  cursor: pointer;
}


.note-color-picker{
  height: 25px;
  width: 25px;
  display: inline-block;
  border: 1px solid black;
}

.note-color-red{
  background-color: red;
}

.note-color-blue{
  background-color: blue;
}

.note-color-yellow{
  background-color: yellow;
}

.note-color-green {
  background-color: green;
}

.float-left{
  float: left;
}

.width-100{
  width: 100%;
}

.selected-color{
  border-radius: 100%;
}

.margin-left-50{
  margin-left: 50px;
}

.color-note{
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 99%;
}

.input-container{
  border: 3px solid blue;
  width: 25%;
  padding: 15px;
  text-align: center;
}

.input-sub-container{
  display: inline-block;
}

.input-label-style{
  width: 30px;
  border: 2px solid black;
}